:root {
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --text-color: rgb(69, 69, 69); /* Màu chữ cho web */
  --link-color: #007bff; /* Màu cho link trong văn bản */
  --link-color-hover: #087cce; /* Màu cho link trong văn bản khi hover */
  --bg-color: #f0f2f5;
  --bg-top: #1e73be;
  --border-color: #dee2e6;
  --hover-color: #b52759;
  --bg-footer: #4d626e; /* Màu nền cho phần botttom */
  --border-footer: #ffbe02; /* Màu cho border bottom */
  --menu-hover-color: #ebebeb;
  --transparent: rgba(255, 255, 255, 0);
  --highlight-color: #cd3e46; /* Màu nền cho biểu tượng bài viết nổi bật */
  --trending-color: #77c148; /* Màu nền cho biểu tượng bài viết xu hướng */
  --newpost-color: #2c31cf; /* Màu nền cho biểu tượng bài viết mới */
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 100% = 16px */
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1 {
  line-height: 4rem;
}

h2 {
  line-height: 3rem;
}

h3,
h4,
h5,
h6 {
  line-height: 2.5rem;
}

ul li,
ol li {
  line-height: 2.5rem;
}

p {
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 0.1rem solid #bbb;
  border-radius: 0.3rem;
  color: #222;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-inline-flex;
  font-size: 1.7rem;
  height: 3.8rem;
  justify-content: center;
  line-height: 3.8rem;
  margin: 0 0 0.8rem;
  outline: 0;
  padding: 0 1.5rem;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}

img {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  object-position: center;
}

.img-fluid {
  margin: 0;
  padding: 0;
}

.img-fluid img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Table and Laptop: width < 1280px */
@media (max-width: 1340px) {
  .container {
    max-width: 1260px;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 740px) and (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 740px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.navbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navbar-item {
  list-style: none;
  margin: 0 10px;
}

.navbar-list .navbar-item:first-child {
  margin-left: 0;
}

.navbar-list .navbar-item:last-child {
  margin-right: 0;
}
