.main-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999999;
  background-color: var(--white-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.main-menu .nav-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
}

.main-menu .navbars {
  opacity: 1;
}

.main-menu .navbars .brand {
  display: none;
}

.main-menu .navbar-link {
  display: block;
  line-height: 55px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-menu .navbar-list .navbar-item:hover {
  background-color: var(--menu-hover-color);
}

.main-menu .navbar-link:hover {
  color: var(--hover-color);
}

.main-menu .nav-mobile-btn,
.main-menu .nav-search-btn {
  border: none;
  background: var(--transparent);
  color: var(--black-color);
  cursor: pointer;
}

.main-menu .nav-mobile-btn {
  display: none;
  cursor: pointer;
}

.main-menu .nav-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 100;
  cursor: pointer;
  animation: fadeIn linear 0.2s;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-menu .nav-overlay.show {
  display: block;
}

.main-menu .navbars .nav-mobile-close {
  display: none;
}

.main-menu .search-input {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 0%;
  height: 100%;
  font-size: 20px;
  border: none;
  opacity: 0;
  transition: all linear 0.2s;
}

.main-menu .search-input:focus {
  outline: none;
}

.main-menu .search-input.show {
  width: 100%;
  opacity: 1;
}

.main-menu .nav-search-close,
.main-menu .nav-search-btn {
  display: none;
  margin-right: 10px;
  z-index: 100;
}

.main-menu .nav-search-close.show,
.main-menu .nav-search-btn.show {
  display: block;
}
