.main-content.wiki {
  margin: 0px;
  font-size: 1.6rem;
}
.wiki .content,
.wiki .sidebar {
  padding: 30px 0px;
}
.wiki .content {
  background-color: var(--white-color);
  margin-left: -9999px;
  padding-left: 9999px;
  padding-right: 30px;
  margin-right: 0px;
}
.main-content.wiki .sidebar {
  margin-left: 0px;
}
.wiki a {
  color: var(--link-color);
}
.wiki a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}
.wiki .wiki-main blockquote {
  background-color: rgba(255, 229, 100, 0.3);
  border-left-color: #ffe564;
  border-left-width: 9px;
  border-left-style: solid;
  padding: 20px 45px 20px 26px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.wiki .sidebar-nav {
  position: sticky;
  top: 56px;
  padding-top: 25px;
}
.wiki .sidebar {
  background-color: rgb(247, 247, 247);
  border-left: 1px solid rgb(236, 236, 236);
}
.wiki .sidebar ul {
  margin: 0px;
  padding-left: 25px;
}
.wiki .sidebar-list .list-item {
  list-style: none;
}
.wiki .sidebar-list .list-item .active {
  font-weight: bold;
}
.wiki .sidebar-list .list-item .icon-border {
  width: 4px;
  height: 25px;
  border-left: 4px solid rgb(97, 218, 251);
  padding-left: 16px;
  position: absolute;
  left: 5px;
  margin-top: -2px;
}
.wiki .sidebar-list .list-item a {
  display: inline-block;
  margin-top: 5px;
  line-height: 1.8rem;
}

.table-content {
  background-color: #20232a;
  bottom: 44px;
  color: #61dafb;
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  z-index: 9999999999999;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}

.table-content .table-width {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.table-content .table-height {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.table-content .table-content-button {
  width: 20px;
  height: 20px;
  align-self: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  color: #61dafb;
  -webkit-align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}

.table-content .table-top-svg {
  transform: translate(2px, -4px) rotate(180deg);
  transition: -webkit-transform 0.2s ease 0s, transform 0.2s ease 0s;
}
.table-content .table-bottom-svg {
  transform: translate(2px, 4px);
  transition: -webkit-transform 0.2s ease 0s, transform 0.2s ease 0s;
}
.table-content.show .table-top-svg {
  transform: translate(2px, 8px) rotate(180deg);
  transition: -webkit-transform 0.2s ease 0s, transform 0.2s ease 0s;
}
.table-content.show .table-bottom-svg {
  transform: translate(2px, -8px);
  transition: -webkit-transform 0.2s ease 0s, transform 0.2s ease 0s;
}
@media (max-width: 740px) {
  .wiki .content {
    display: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .wiki .wiki-content {
    padding: 0 10px;
  }
  .wiki .content.show {
    display: block;
  }
  .wiki .sidebar {
    display: none;
    margin: 0px;
    padding: 0px 15px;
    position: fixed;
    z-index: 99999999;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .wiki .sidebar.show {
    display: block;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
  }
  .table-content {
    display: inline-block;
  }
  .table-content .table-height {
    height: 60px;
    overflow: hidden;
    align-items: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
  }
}
